<app-alert></app-alert>
<div class="container">
  <div class="row mt-5">
    <div class="col-6 offset-3">
      <form class="form" (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="row">
          <div class="col-12 text-center form__title">
            <h4>Create a Post</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-2 d-flex align-items-center">
            <img class="img-fluid form__profile-image" alt="profile-image" src="../assets/images/pl-profile.jpg">
          </div>
          <div class="col-10 pl-0">
            <div class="row">
              <div class="col-9">
                <p>Jonathan Joestar</p>
              </div>
              <!--sharing type-->
              <div class="col-4">
                <select ngModel name="sharingType" class="custom-select">
                  <option value="0">Friend</option>
                  <option value="1">public</option>
                  <option value="2">private</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!--text input-->
        <div class="row">
          <div class="col-12">
            <textarea ngModel class="form__thoughts-input" type="text" name="thoughts-input" id="thoughts-input" rows="1" cols="50" placeholder="Jonathan, what are you thinking?"></textarea>
          </div>
        </div>

        <!--Select File-->
        <div class="row" *ngIf="!imageURL">
          <div class="col-12">
            <label for="upload-photo" class="upload-label">
              <i class="far fa-images upload-icon"></i>
            </label>
            <input ngModel type="file" name="photo" id="upload-photo" accept="image/*" (change)="showPreview($event)" />
          </div>
        </div>

        <!--Image Preview-->
        <div class="row mb-4" *ngIf="imageURL && imageURL !== ''">
          <div class="col-12">
            <div class="imagePreview">
              <img class="img-fluid" [src]="imageURL">
              <input type="hidden" name="image" [ngModel]="imageURL">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <!--location input-->
            <div class="form-group row">
              <label for="location" class="col-4 col-form-label">Location</label>
              <div class="col-8">
                <input ngModel name="location" type="text" class="form-control" id="location" required>
              </div>
            </div>
            <!--keyword input-->
            <div class="form-group row">
              <label for="keywords" class="col-4 col-form-label">Keywords</label>
              <div class="col-8">
                <input ngModel name="keywords" type="text" class="form-control" id="keywords" required>
              </div>
            </div>
          </div>
        </div>

        <!--submit input-->
        <div class="row mt-4">
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary form__submit">Write a post</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
